@model IEnumerable<EmployeeInfo>

@{
    ViewData["Title"] = "Employee Info";
}

<h1>Employee Information</h1>

<div class="container p-2">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-primary">Employees</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="EmployeeInfo" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; Add Employee</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Home Address</th>
            <th>Company Years</th>
            <th>Completed Tasks</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="25%">
                    @obj.Name
                </td>
                <td width="25%">
                    @obj.Email
                </td>
                <td width="25%">
                    @obj.PhoneNumber
                </td>
                <td width="25%">
                    @obj.Address
                </td>
                <td width="25%">
                    @obj.YearsAtWork
                </td>
                <td width="25%">
                    @obj.TasksCompleted
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="EmployeeInfo" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> &nbsp; Edit</a>
                        <a asp-controller="EmployeeInfo" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3-fill"></i> &nbsp; Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="container p-2">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-primary">Qualified Employees of the Month</h2>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            @if (obj.TasksCompleted >= 20)
            {
                <tr>
                    <td width="25%">
                        @obj.Name
                    </td>
                    <td width="25%">
                        @obj.Email
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
